# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
=======
liar-game-app/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Node ###
liar-game-frontend/node_modules
liar-game-frontend/.pnp
liar-game-frontend/.pnp.js

# testing
liar-game-frontend/coverage

# production
liar-game-frontend/build

# misc
liar-game-frontend/.DS_Store
liar-game-frontend/.env.local
liar-game-frontend/.env.development.local
liar-game-frontend/.env.test.local
liar-game-frontend/.env.production.local

liar-game-frontend/npm-debug.log*
liar-game-frontend/yarn-debug.log*
liar-game-frontend/yarn-error.log*