.Container {
  padding: 100px;
}

.Enter_main {
  background-color: rgba(196, 196, 196, 1);
  min-height: calc(-200px + 100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Enter_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.Enter_header h1 {
  font-size: 88px;
}

.Enter_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.Enter_input {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  align-items: center;
}

.Enter_input input {
  font-size: x-large;
  padding: 12px;
  border: 0;
}

.Enter_input label {
  font-size: 2em;
  padding-right: 15px;
}

.Enter_button {
  padding-left: 6.9em;
}

.Enter_button button {
  font-size: x-large;
  padding: 8px;
  border: 0;
  width: -webkit-fill-available;
}
