.main {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: 0px;
}

.contents {
    /* Contents */
    position: static;
    /* width: 1094px; */
    height: 100%;
    left: 350px;
    top: 0px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.sidebar {
   /* SideBar */
    position: static;
    width: 350px;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.circleContainer {
    /* Component 2 */
    /* position: absolute; */
    /* left: 50%; */
    /* right: 35.37%; */
    /* top: 34.38%; */
    /* bottom: 34.38%; */

    filter: drop-shadow(8px 7px 6px rgba(0, 0, 0, 0.25));    
    /* transform: translateX(-50%); */
    background: #000000;
    display: inline-block;
    margin: 0 auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    border-radius:25px;

    color: #FFFFFF;
}

.circleImage{
    /* Ellipse 2 */
    position: absolute;
    width: 320px;
    height: 320.62px;
    left: calc(50% - 320px/2);
    top: calc(50% - 320.62px/2 + 0.31px);

    background: #000000;

    /* Start! */
    position: absolute;
    width: 128px;
    height: 56px;
    left: calc(50% - 128px/2);
    top: calc(50% - 56px/2);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}

.players {
    font-size: 25px;
}

.exit_button {
    padding-left: 20px;
    line-height: 900px;
    width: 100px;
}
  
.exit_button button {
    font-size: x-large;
    padding: 8px;
    border: 0;
    width: -webkit-fill-available;
    cursor: pointer;
}

.link_button {
    padding-left:70%;
    padding-top:3%;
}

.link_button button {
    font-size: x-large;
    padding: 8px;
    border: 0;
    width: -webkit-fill-available;
    cursor: pointer;
    width: 150px;    
}

.nav {
    /* Rectangle 3 */
    position: absolute;
    width: 349px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #CFCFCF;
}

.section {
    width:80%;
    height: 100%;
    text-align:left;
    float:left;
}

.header, .section, .footer { text-align:center; }

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* .tooltip .tooltiptext::after {
    content: "";
    position: relative;
    top: 50%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.category {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
}

.invitation {
    /* 방 생성하기 */


    position: static;
    width: 282px;
    height: 38px;
    left: 0px;
    top: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;

    position: static;
    width: 300px;
    height: 58px;
    right: 0px;
    top: 0px;

    background: #00A3FF;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}